.IndexPage {
  height: 100%;
}


.title {
  background: rgb(121, 242, 157);
}

.main {
  display: flex;
  height: 100%;
}
.preview {
  padding: 10px;
  flex: 1;
  
}
.preview span {
  padding: 10px;
}
.preview button {
  margin: 0 5px;
}
.preview :global .ant-input {
  width: 200px;
}